# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Secrets
.env

# Data
data/raw/*
data/interim/*
data/processed/*

# keep placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep

# keep selected processed parquet files
!data/processed/transaction_features_mvp_sample.parquet
!data/processed/client_history_summary.parquet
!data/processed/merchant_risk_lookup.parquet